@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');
body{
    font-family:  "Fraunces", serif;
    height: 10000px;
}

/* start main */
.bg-main{
    background-image: url(../images/main.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.bg-main h5{
    font-size: 2rem;
}

.bg-main h2{
    font-size: 3rem;
}
.bg-main button{
    font-size: 1.5rem;
}
/* end main */
